.recents-title {
    display: block;
    text-align: center;
    font-family: 'Press Start K';
    color: #FFFFFF;
    margin-top: 72px;
}
.recents {
    width: calc(100% - 64px);
    bottom: 0;
    overflow-y: scroll;
    background: black;
    padding: 32px 32px;
    font-size:18px;
    color:#FFFFFF;
    .table-head {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;
        color: #333333;
        .album {
            width: 416px;
            display: inline-block;
        }
        .artist {
            width: 300;
            display: inline-block;
        }
        .avg-lufs {
            width: 100px;
            display: inline-block;
        }
    }
    .table-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .table-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #838383;
    
            .album {
                width: 416px;
                display: inline-block;
            }
            .artist {
                width: 300;
                display: inline-block;
            }
            .avg-lufs {
                width: 100px;
                display: inline-block;
            }
        }
    }
}

.recents-arrow {
    position: absolute;
    margin-left: -75px;
    margin-top: 50px;
    width: calc(100vw - 90vw);
    z-index: 9999;
}